<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Twig test</title>
</head>
<body>

    <h1>Hello world</h1>

    <p>My name is {{ name }}</p>
    <p>My Profission is {{profission}}</p>
    <p>Other php page <a href="other_page.php">Click me</a></p>
    <p>Other twig page <a href="templates/other_page.twig?name={{name}}">Click me</a></p>


</body>
</html>
