<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Page 2</title>
</head>
<body>

    <h3>I am always learning somthing</h3>
    <p>this is my variable {{var3}}</p>
    <p>this is my variable {{var4}}</p>


</body>
</html>
